@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-attachment: fixed;

}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }
  
  div#slider { overflow: hidden; }
  div#slider figure img { width: 20%; float: left; }
  div#slider figure { 
    position: absolute;
    width: 500%; 
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
    background-size: contain;
    height: 89%;
    overflow: hidden;
    overflow-x: hidden;
  }

  body::-webkit-scrollbar {
    display: none;
  }
  
  

/* html, body{
  background: linear-gradient(rgba(19, 51, 76, 5), rgba(0, 87, 146, 5));
  background-attachment: fixed;
  background-size: cover;
  height: auto
} */

:root {
  --clr-white: #FFFFFF;
  --clr-black: #000000;
  --clr-grey: #707070;
  --clr-bunker: #131921;
  --clr-ebony-clay: #232f3e;
  --clr-orange: #FF9900;
  --clr-orange-dark: #cc8111;
}

body {
  margin: 0;
  padding:0;
  font-family: sans-serif;

  /* important part  */
  /* background: url('../images/bgimage.jpg') no-repeat center center fixed;  */
  background: linear-gradient(rgba(19, 51, 76, 5), rgba(0, 87, 146, 5)) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 

  /* background-blend-mode: lighten; */
  /* flood-opacity: 0.5; */

  
  /* background-repeat: no-repeat; */



  /* background: #141e30; */
  /* background: linear-gradient(#141e30, #243b55); */ 
  /*
  uncomment if u want
  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  max-width: 1200px;
  margin: 20px auto 0;

  font-size: 2.15em;
}

h2:not(.product__overview h2) {
  font-weight: bold;
  padding-left: 20px;
  
}
/* ------------------------------------------------------ */
/* -- NAVIGATION -- */
header * {  
  display: inline;  
  }  
  header li {  
  margin: 20px;  
  }  
  

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  background-color: var(--clr-bunker);
}

.nav__brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__brand img {
  max-width: 125px;
  height: auto;
}

.nav__brand h1 {
  margin-top: 10px;
  color: var(--clr-white);
  font-family: "Lalezar";
  font-size: 2.5em;
}

.nav__links {
  background-color: var(--clr-ebony-clay);
  /* grid-column: 1 / span 3; */
  
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.nav__links ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__links li {
  font-family: Georgia, serif;
  /* font-family: sans-serif; */
  margin: 0 15px;
}

.nav__links li a {
  text-decoration: none;
  color: var(--clr-white);
  font-size: 22px;
  font-family: "Lalezar";
}

.nav__links li a:hover {
  color: var(--clr-orange);
}

.nav__search {
  padding: 10px;
  border-radius: 6px;
  min-width: 50%;
}

.nav__search:hover {
  outline: 1px solid var(--clr-orange);
}

.nav__connect {
  width: 150px;
  height: 40px;
  margin: 0 auto;
  margin-top: 10px;

  background-color: var(--clr-orange);
  color: var(--clr-black);

  border: none;
  border-radius: 4px;

  font-family: "Lalezar";
  font-size: 1.25em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.nav__connect:hover {
  /* background-color: var(--clr-orange-dark); */
  
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  
}


/*-------- WELCOME PAGE -----------*/

/* .home {
  color: white;
  margin: auto;
  font-family: "Lalezar";
  font-size: 30px;
}

.home .pagi{
  margin-left: 61px;
} */
.img-slider {
  position: relative;
  width: 100vw;
  height: 400px;
}
.img-slider .slider-container {
  position: absolute;
  width: 300%;
  top: 0;
  left: 0;
  overflow: hidden;
  animation: slider 26s infinite;
}
.img-slider .slider-container .slide {
  position: relative;
  width: 33.33333333%;
  height: 100%;
  float: left;
  overflow: hidden
}
.img-slider .slider-container .slide img {
display: block;
width: 100%;
height: 100%
}
@keyframes slider {
  0%, 25%, 100%{left: 0}
  
  30%, 55%{left: -100%}
  
  60%, 85%{left: -200%}
}


/* ------------------------------------------------------ */
/* -- CARDS --*/


/* ------------------------------------------------------ */
/* -- PRODUCT -- */

/*---- ADD PROPERTY PART ----*/

.loginkabaap {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  /* background: url('../images/bgimage.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background-color: lightblue;
}

.login-box {
  font-weight: bold;
  margin-top: 140px;
  position: absolute;
  top: 57%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}


.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box input::placeholder {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.login-box .user-box input:focus ~ input::placeholder,
.login-box .user-box input:valid ~ input::placeholder {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
/* .login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
} */

.login-box form button {
  width: 100%;
  background: transparent;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px

}

.login-box button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
button .btn1{
  background-color: transparent;
  margin-right: 20px;
}
.btn2{
  margin-left: 20px;
  background-color: transparent;
}
/*----- BUY PAGE -----*/
.first {
  /* justify-content: right; */
  margin-top: 200px;
  
  border: solid;
}

.products{
  font-family: 'Nunito', sans-serif;
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;


  align-items: stretch;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  padding: 30px;
  background-size: cover;
  height: 100vh;


  /* margin: 30px; */
  /*  */


  /* margin-top: 200px; */
  /* background-size: cover; */
  /* height: 100%; */
  /* justify-content: center; */
  /* padding: 20px;
  min-height: 100%;
  display: flex; */
  /* padding-top: 20px;
  text-align: center;
  border: solid; */
  /* justify-content: right; */
}

.products .product {
  /* grid-template-rows: auto 1fr auto; */
  display: flex;
  flex-direction: column;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 440px;
  text-align: left;
  display: inline-block;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.1);
  margin: 20px;
  padding: 20px;
  
}

.products .product ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  line-height:1.7em; margin-bottom:1.0em;

  /* margin: 5px;  */
  /* Remove margins */
}


.products .product img {
  position: relative;
  top: -5px;
  margin: auto;
  transition: all .2s ease;
  width: 100%;
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 70%);
          clip-path: polygon(0 100%, 0 0, 100% 0, 100% 70%);
}
.products .product img:hover {
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.products .product h1 {
  font-family: "Lalezar";
  color: darkblue;
  font-weight: bold;
  line-height: 20px;
  font-size: 26px;
  margin-top: 16px;
}
  
.products .product .price {
  text-align: center;
  font-size: 20px;
  margin-top: 3px;
  color: darkblue;
  background: lightblue;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
